# Folder to ignore
node_modules
dist
target
.ai_cli
.rust-skills
docs-local
scripts
others

# Editor directories
.vscode

# For Zed
.prettierignore

*.local

AGENTS.md


#test
test

# ai_cli
.ai_cli
1cli.bat

## docs
docs

## scripts
scripts

others
