# Folder to ignore
node_modules
dist
target
docs-local
others

# 项目内前端测试环境，复用一份浏览器数据与缓存
/.local/frontend-tests/

# Editor directories
.vscode

# For Zed
.prettierignore

*.local
.env

AGENTS.md


#test
test

# ai_cli
.ai_cli
1cli.bat

## docs
docs

## scripts
scripts

others
